@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>My name is Simon Acosta, this program was written for CS341.
   I am a senior in the Computer Science program at University of Illinois at Chicago!</p>
