@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Contact info:</strong> <a href="mailto:sacost6@uic.edu">sacost6@uic.edu</a><br />
</address>
